body{
  

  background-color: #033670;


}
.container p{
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
}


.responsive {
  width: 100%;
  height: auto;
}
.container{
   width: 100%;
height: auto;
   display: flex;
padding-bottom: 10%;
   align-items: center;
  
}
.container .row{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;

}
.container .box{
    position: relative;
    width: 100%;
box-shadow: 0 30px 30px rgba(0,0,0,0.5);
    height: auto;

    background: #262626;
    margin-top: 10%;
     box-sizing: border-box;
     display: inline-block;
     align-items: center;
}
.container .box .imagebox{
  position: relative;
  overflow: hidden;
    width: 100%;
    height: auto;
    align-items: center;

}
.container .box .imagebox img{
  width: 100%;
height: auto;
  transition:  transform 2s;
align-items: center;
}
.container .box:hover .imagebox img{
  transform: scale(1.2);
}
.container .box .details{
  position: absolute;
top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background: rgba(0,0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;

}
.container .box:hover .details{
  transform: scaleY(1);

}
.container .box .details .content{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  padding: 25px;
  color: #fff;

}

section{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
ul#ghost{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
flex-direction: row-reverse;


}

p#ghost{
  font-size: 5em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
  padding-top: 100px;

}
p#ghost span{
  transition: 1.5s;

}
p#ghost:hover span{
  filter: blur(20px);
  opacity: 0;
  transform: scale(2);
}
p#ghost:nth-child(10n+1){
  transition-delay: 0s;
}
p#ghost:nth-child(10n+2){
  transition-delay: 0.1s;
}
p#ghost:nth-child(10n+3){
  transition-delay: 0.2s;
}
p#ghost:nth-child(10n+4){
  transition-delay: 0.3s;
}
p#ghost:nth-child(10n+5){
  transition-delay: 0.4s;
}
p#ghost:nth-child(10n+6){
  transition-delay: 0.5s;
}p#ghost:nth-child(10n+7){
  transition-delay: 0.6s;
}p#ghost:nth-child(10n+8){
  transition-delay: 0.7s;
}
p#ghost:nth-child(10n+9){
  transition-delay: 0.8s;
}
p#ghost:nth-child(10n+10){
  transition-delay: 0.9s;
}


footer {
 
  bottom: 0;
  }
  .footer-distributed {
  background-color: #033670;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  height:300px;
  padding: 55px 50px;
  margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  }
  
  .footer-distributed .footer-left {
  width: 40%;
  }
  
  .footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
  }
  
  .footer-distributed h3 span {
  color: #5383d3;
  }
  
  .footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  }
  
  .footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-distributed .footer-center {
  width: 35%;
  }
  
  .footer-distributed .footer-center i {
  background-color: #33383b;
  color: whitesmoke;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
  display: inline-block;
  color: whitesmoke;
  vertical-align: middle;
  margin: 0;
  }
  
  .footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  }
  
  .footer-distributed .footer-right {
  width: 20%;
  }
  
  .footer-distributed .footer-company-about {
  line-height: 20px;
  color: #d1d1d8;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
  display: block;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
  margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
  width: 35px;
  height: 35px;
  cursor: pointer;
  
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
  .footer-distributed {
  font: bold 14px sans-serif;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i {
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  }


  .navbar{
    width: 100%;
  }
  .nav-item{
    padding-left: 5px;
    padding-right: 5px;
    color: #262626;
  }
  .dropdown-item{
  background-color: white !important;
  text-align: center;
    color: black;
  }
  .collapse {
    
  text-align: center;
    padding: 3px;
    margin-right: 15px;
  }
  .bg-dark{
    transition: 200ms ease;
    background: transparent !important;
  }
  .bg-dark.scrolled{
    background:white !important;
  }
  #me{
    color:black;
  }