#manage img {
          
    height:220px;
  }
  #core img {
    height: 200px;
  }
  #manage {
    margin-top:60px;
    margin-left:60px;
     margin-right:60px;
  }
  #manage1 {
      
    padding-top:20px;
     padding-bottom: 100px;
     
  }
  /*
  #try1 {
    padding-top:20px;
     padding-bottom: 150px;
     padding-left: 50px;
     padding-right: 50px;
  }    
  #try2 {
    padding-top:20px;
     padding-bottom: 100px;
  }  
  #try3 {
    padding-top:20px;
     padding-bottom: 100px;
  }    
  
 #core {
     margin-top: 100px;
     margin-left: 0px;
     margin-right: 0px;
    
     background-color: #34495e;
 }
 #heads {
     margin-top: 100px;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     background-color: #34495e;
 }
 
 #alumini {
     margin-top: 100px;
     margin-left: 30px;
     margin-right: 30px;
     background-color: #34495e;
 }
 #founder {
     margin-top: 100px;
     margin-left: 0px;
     margin-right: 0px;
     background-color: #34495e;
     padding-bottom: 300px;
 }
 #vol{
  margin-top: 100px;
     margin-left: 30px;
     margin-right: 30px;
     background-color: #34495e;
 }
 */
 h1{
     text-align: center;
 }

 *{
   margin:0;
   padding:0;
   font-family: sans-serif;
 }
 .team-section{
   overflow: hidden;
   text-align: center;
   background:#043c7c ;
   padding:100px;
 }
 .team-section h1{
   text-transform:uppercase ;
   margin-bottom: 60px;
   color:white;
   font-size: 40px;
 }
 .border{
   display:block;
   margin:auto;
   width:160px;
   height:3px;
   background:#3498db ;
   margin-bottom: 40px;

 }
 .ps{
   margin-bottom: 40px;
 }
 .ps a{
   display:inline-block;
   margin:0 30px;
   width: 180px;
   height:180px;
   overflow: hidden;
   border-radius: 50%;
 }
 .ps a img{
   width:100%;
   height:200px;
   filter: grayscale(100%);
   transition: 0.4s all;
 }
 .ps a:hover >img{
   filter:none;
 }
 .section {
   width:600px;
   margin:auto;
   font-size: 20px;
   color:white;
   text-align: justify;
   height:0;
   overflow: hidden;
 }
 .section:target {
   height:auto;
 

 }
 .name {
   display: block;
   margin-bottom: 30px;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
 }
 @media (max-width: 575.98px) { 
    .section:target {
        height:auto;
        width:auto;
     
      }
    }
 
    footer{
      bottom: 0;
    }
    .footer-distributed{
      background-color: #033670;
        width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 45px 20px;
       /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box; */
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: inline-block;
      vertical-align: top;
    }
    .footer-distributed .footer-left {
      width: 40%;
    }
    .footer-distributed .footer-right {
      width: 20%;
    }
    .footer-distributed h3 {
      color: #ffffff;
      font: normal 36px "Cookie", cursive;
      margin: 0;
    }
    
    .footer-distributed h3 span {
      color: #5383d3;
    }
    .footer-distributed .footer-links {
      color: #ffffff;
      margin: 20px 0 12px;
      padding: 0;
    }
    
    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
    }
    .footer-distributed .footer-company-name {
      color: #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    
    .footer-distributed .footer-center {
      width: 35%;
    }
    
    .footer-distributed .footer-center i {
      background-color: #33383b;
      color: whitesmoke;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
      font-size: 17px;
      line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
      display: inline-block;
      color: whitesmoke;
      vertical-align: middle;
      margin: 0;
    }
    
    .footer-distributed .footer-center p span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
      color: #5383d3;
      text-decoration: none;
    }
    
    .footer-distributed .footer-right {
      width: 20%;
    }
    
    .footer-distributed .footer-company-about {
      line-height: 20px;
      color: #d1d1d8;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
      display: block;
      color: whitesmoke;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
      margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
      width: 35px;
      height: 35px;
      cursor: pointer;
    
      font-size: 20px;
      text-align: center;
      line-height: 35px;
    
      margin-right: 3px;
      margin-bottom: 5px;
    }
    
    @media (max-width: 880px) {
      .footer-distributed {
        font: bold 14px sans-serif;
      }
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    
      .footer-distributed .footer-center i {
        margin-left: 0;
      }
      .main {
        line-height: normal;
        font-size: auto;
      }
    }
    .navbar{
      width: 100%;
      
    }
    .nav-item{
      padding-left: 5px;
      padding-right: 5px;
      color: #262626;
    }
    .dropdown-item{
    background-color: white !important;
    text-align: center;
      color: black;
    }
    .collapse {
      
    text-align: center;
      padding: 3px;
      margin-right: 15px;
    }
    .bg-dark{
      transition: 200ms ease;
      background: transparent !important;
    }
    .bg-dark.scrolled{
      background:white !important;
    }
    #me{
      color:black;
      font-weight: bold;
      font-size: 20px;
    }